<!DOCTYPE html>
<html>
  <head>
    <title>IoT Dashboard <%if(title.length > 0) {%> - <%= title %> <% } %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="app"></div>
    <script type="text/javascript" src="js/bundle.js"></script>
  </body>
</html>
